@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&family=Work+Sans:wght@800&display=swap');

body{
    font-family:'Source Sans Pro', Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color:#F8F9FC;
} 
table * {
    border: none!important;
}
#all-coins tr {
    border-top: 1px solid #E3E4E8!important;
}
.table thead tr, thead  *  {
    border-bottom: 1px solid #F8F9FC !important;
}
h1, h4 {
    text-align: center;
}
h1 {
    font-family: 'Work Sans', Helvetica, sans-serif;
    font-size: 7.8rem;
    color: #232323;
}
h4 {
    color:#17181C;
    font-size:2rem;
    font-weight:600;
}
.allCoins-container thead tr th {
    text-transform:uppercase;
    color:#949497;
    font-size:1.4rem;
    font-weight:400;
}
.allCoins-container{
    display:block;
    position:relative;
    max-height: 43rem;
    max-width: 50rem;
    overflow: scroll;
    margin: 0 auto;

    background: rgb(246,247,250,);
    background: linear-gradient(180deg, rgba(246,247,250,1) 0%, rgba(246,247,250,1) 9%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 100%);
    -webkit-box-shadow: 0px 50px 50px 19px rgba(120,129,135,0.19); 
    box-shadow: 0px 50px 50px 19px rgba(120,129,135,0.19);
   
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

/* list td ------ */
tbody#all-coins td {
    padding: 1.2rem 0;

}
tbody#all-coins td img {
    float: left;
    margin-right:1.2rem;

}
tbody#all-coins td span {
    line-height:1.2;
    text-transform:uppercase;
    color:#8D8F98;
}
tbody#all-coins td span strong {
    display:block;
    text-transform:none;
    color:#34363A;
    font-size:1.7rem;
}
tbody#all-coins td.price {
    padding-left:1rem;
    font-weight: 600;
    font-size:1.75rem;
    color:#515256;
}
tbody#all-coins td button {
    visibility: hidden;
    width:4.2rem;
    height:4.2rem;
    margin-top:0.5rem;

    font-size: 2.6rem;
    font-weight: light;
    line-height:1;
    background-color:#4E59F2;
    color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/* list tr ------ */
div.allCoins-container tr th.coinHeader {
    padding-left: 2.4rem;
}
tbody#all-coins tr:hover {
    background-color:#EBF0FF;
}
tbody#all-coins tr:hover button {
    visibility: visible;
    background-color:#4E59F2;
}
tbody#all-coins td img {
    padding-left:2.5rem;
}
tbody#all-coins td.addedCoin {
    color: red;
    border: 1px solid red !important;
}

/* footer ------ */
/* div.myCoins-container {
    position:relative;
} */
div.myCoins-container .table-container{
    position:absolute;
    bottom: 0;
}
div.myCoins-container thead {   
    visibility: hidden;
}
tbody#my-coins {
    display: inline-flex;
}
tbody#my-coins tr {
    text-align:center;
    border:none;
    margin:0;
}

tbody#my-coins td {
    position: relative;
    padding-right:1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.15rem;

    font-size:2.1rem;
    font-weight:lighter;
    color:white;
    background-color:#000;
}
tbody#my-coins td span.symbol {
    margin-right: 0.6rem;
    margin-left:0;
    padding-left: 1.2rem;

    font-size:1.8rem;
    font-weight:light;
    color:#AAAAAA;
    text-transform: uppercase;
}
tbody#my-coins td:hover {
    background-color:#4530C8;
}
tbody#my-coins td span.delete{
    visibility: hidden;
    position: absolute;
    left:40%;
    text-align:center;
    padding: 0.4rem 0.4rem;

    color:#4E59F2;
    background-color:white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
tbody#my-coins tr:hover span.delete {
    visibility:visible;
}  
tbody#my-coins tr:nth-child(even) td {
    background-color: #222222;
}  